.form {
    max-height: 56px;
    display: flex;
    gap: 8px;
}

.input {
    width: 100%;
    background-color: var(--color-bg-secondary);
    padding: 20px 14px;
    height: 100%;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    color: var(--color-text-primary);
    outline: none;
    transition: box-shadow 0.3s ease;
    font-family: var(--typography-font);
    font-weight: var(--typography-weight-regular);
}

.input::placeholder {
    color: var(--color-text-secondary);
}

.input:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.recording {
    background-color: #ff4444;
}
